### importing the relevent library

In [1]:
from sklearn.model_selection import train_test_split
from nltk.sentiment import SentimentIntensityAnalyzer
from sklearn.linear_model import LogisticRegression
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score

### loading the datasets using pandas and displaying it output

In [2]:
data = pd.read_csv("Suicide_Ideation_Dataset(Twitter-based).csv")
data

,Tweet,Suicide
0,making some lunch,Not Suicide post
1,@Alexia You want his money.,Not Suicide post
2,@dizzyhrvy that crap took me forever to put to...,Potential Suicide post
3,@jnaylor #kiwitweets Hey Jer! Since when did y...,Not Suicide post
4,Trying out &quot;Delicious Library 2&quot; wit...,Not Suicide post
...,...,...
1782,i have forgotten how much i love my Nokia N95-1,Not Suicide post
1783,Starting my day out with a positive attitude! ...,Not Suicide post
1784,"@belledame222 Hey, it's 5 am...give a girl som...",Not Suicide post
1785,2 drunken besties stumble into my room and we ...,Not Suicide post
1786,@dancingbonita &quot;I friggin love you!!!&quo...,Not Suicide post

## ''' EDA(Exploratory data analysis) i.e missing data in the datasets, incomplete variance in the dataset'''

#### displaying the first five row of the datasets

In [3]:
data.head()

                                               Tweet                  Suicide
0                                  making some lunch         Not Suicide post
1                        @Alexia You want his money.         Not Suicide post
2  @dizzyhrvy that crap took me forever to put to...  Potential Suicide post
3  @jnaylor #kiwitweets Hey Jer! Since when did y...         Not Suicide post
4  Trying out &quot;Delicious Library 2&quot; wit...         Not Suicide post

#### displaying the last five rows of the datasets

In [4]:
data.tail()

                                                  Tweet           Suicide
1782    i have forgotten how much i love my Nokia N95-1  Not Suicide post
1783  Starting my day out with a positive attitude! ...  Not Suicide post
1784  @belledame222 Hey, it's 5 am...give a girl som...  Not Suicide post
1785  2 drunken besties stumble into my room and we ...  Not Suicide post
1786  @dancingbonita &quot;I friggin love you!!!&quo...  Not Suicide post

#### checking the statisticals and datatypes of data

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1787 entries, 0 to 1786
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Tweet    1785 non-null   object
 1   Suicide  1787 non-null   object
dtypes: object(2)
memory usage: 28.0+ KB

#### checking the size of the datasets

In [6]:
print(f"Row: {data.shape[0]}")
print(f"Column: {data.shape[1]}")

Row: 1787
Column: 2

#### formatting the rows and columns data using pandas

In [7]:
size = pd.DataFrame([data.shape[0], data.shape[1]], ["Row", "Column"])
size

           0
Row     1787
Column     2

#### checking the datasets contains a null and dropping it

In [8]:
data.isnull().any()
# it was discovered that the tweet has some true value meaning some missing comment

Tweet       True
Suicide    False
dtype: bool

In [9]:
data.isnull().sum()
# it was discovered that the tweet has some 2 null comment

Tweet      2
Suicide    0
dtype: int64

#### dropping all null tweet and reassigning it to a new data

In [10]:
data = data.dropna()

#### checking if the data contains null tweet after dropping null tweet

In [11]:
data.isna().any()
#alternatively
data.isnull().any()

Tweet      False
Suicide    False
dtype: bool

In [12]:
data.isnull().sum()
#alternatively
data.isna().sum()

Tweet      0
Suicide    0
dtype: int64

### Data Proprocessing

In [13]:
text = data['Tweet']
labels = data['Suicide']

In [14]:
text

0                                       making some lunch
1                             @Alexia You want his money.
2       @dizzyhrvy that crap took me forever to put to...
3       @jnaylor #kiwitweets Hey Jer! Since when did y...
4       Trying out &quot;Delicious Library 2&quot; wit...
                              ...
1782      i have forgotten how much i love my Nokia N95-1
1783    Starting my day out with a positive attitude! ...
1784    @belledame222 Hey, it's 5 am...give a girl som...
1785    2 drunken besties stumble into my room and we ...
1786    @dancingbonita &quot;I friggin love you!!!&quo...
Name: Tweet, Length: 1785, dtype: object

In [15]:
labels

0              Not Suicide post
1              Not Suicide post
2       Potential Suicide post
3              Not Suicide post
4              Not Suicide post
                 ...
1782           Not Suicide post
1783           Not Suicide post
1784           Not Suicide post
1785           Not Suicide post
1786           Not Suicide post
Name: Suicide, Length: 1785, dtype: object

## Model Training

#### 1) spliting the data in training and texting

In [16]:
train_texts, test_texts, train_labels, test_labels = train_test_split(text, labels, test_size=0.25, random_state=42)

#### 2) Sentiment Analysis using Naive Bayes Classifier

In [17]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [18]:
# Initialize a CountVectorizer for text vectorization
vectorizer = CountVectorizer(ngram_range=(1, 2))

# Fit and transform the training data
train_vectors = vectorizer.fit_transform(train_texts)

# Transform the test data
test_vectors = vectorizer.transform(test_texts)

In [19]:
# Initialize the Multinomial Naive Bayes classifier
classifier = MultinomialNB()

# Train the classifier
classifier.fit(train_vectors, train_labels)

MultinomialNB()

In [20]:
# Predict sentiments for test data
predictions = classifier.predict(test_vectors)
predictions[0]

'Potential Suicide post '

In [21]:
from sklearn.metrics import accuracy_score

In [22]:
# Calculate accuracy
accuracy = accuracy_score(test_labels, predictions)
print(f"Accuracy: {accuracy:.4f}")

Accuracy: 0.8725

In [23]:
def naive_prediction(new_text):
    new_vector = vectorizer.transform([new_text])
    pred = classifier.predict(new_vector)
    return pred[0]


sample_review = "I will bury you alive"
print(f"The sentiment predicted by the model is: {naive_prediction(sample_review)}")

The sentiment predicted by the model is: Potential Suicide post

## Suicide Ideation Datasets 
it is a twitter based datasets used to annotate whether each tweet is related to suicide or not.
the datasets is very important for research purpose and also for internet security to monitor the tweet of users in a platform and taking preventive measures
to avoid such from happening..

The first stage here was data collections; this is very important when dealing with sentiment analysis or any other machine learning modelling and getting the right data for the job is a key
to facilitate proper datasets usage and performance..

The second steps was to carry out an exploratory data analysis which involves data preprocessing, data cleaning, sorting and filtering of the datasets

The three steps is the modelling concepts of the data using machine learning algorithms; here the algorithm used was the naive bayes 
algorithms because the labels output was either not suicider or potentially suicider which in essence means positive or negetive.... and also it ability to generate a moderate performance.